In [1]:
import pandas

In [20]:
df1=pandas.read_json('supermarkets.json')
df1=df1.set_index('Address')

In [21]:
# 1 to indicate you are deleting a column
df1.drop("ID", 1)

,City,Country,Employees,Name,State
Address,,,,,
3666 21st St,San Francisco,USA,8,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,Super River,California 94114
3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,Sanchez,California
551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [22]:
# 0 to indicate you are deleting a row
df1.drop("3995 23rd St", 0)

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [26]:
# To delete by index, need to use a few tricks
#  we use either .columns or .index method to call by index, which will in call the approptiate label
df1.index

Index(['3666 21st St', '735 Dolores St', '332 Hill St', '3995 23rd St',
       '1056 Sanchez St', '551 Alvarado St'],
      dtype='object', name='Address')

In [41]:
# deletes rows by default
df1.drop(df1.index[0:2])

,City,Country,Employees,ID,Name,State
Address,,,,,,
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [34]:
df1.columns

Index(['City', 'Country', 'Employees', 'ID', 'Name', 'State'], dtype='object')

In [39]:
df1.drop(df1.columns[0:1],1)

                Country  Employees  ID         Name             State
Address
3666 21st St        USA          8   1      Madeira          CA 94114
735 Dolores St      USA         15   2  Bready Shop          CA 94119
332 Hill St         USA         25   3  Super River  California 94114
3995 23rd St        USA         10   4   Ben's Shop          CA 94114
1056 Sanchez St     USA         12   5      Sanchez        California
551 Alvarado St     USA         20   6   Richvalley          CA 94114